* {
  margin: 0;
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.titre {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  color: red;
  font-size: 70px;
  height: 25rem;
  line-height: 25rem;
  /* transition: all 10s linear;  */
  /* transition-duration: 2s; */
  animation: zoomIn 2s ease-in-out;
}

.titre :hover {
  zoom: 10000;
  transform: scale(2) rotate(180deg);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  background-image: url("assets/d1352e537d804829a915d3ae53a96fa0.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  font-weight: bold;
  background-color: black;
  padding: 2%;
  border: none;
  color: white;
  padding: 15px 32px;

  .bouton {
    border-radius: 12px;
  }

  a {
    text-decoration: none;
    margin: auto 1rem;

    background-color: var(--secondary-color);
    font-size: calc(var(--base-font-size) * 2);
    border-radius: 10px;
  }
}
footer {
  background-color: black;
  height: 2rem;
  width: 100%;
  color: #fff;
  padding-top: 20px;
  line-height: 2rem;
}

.audiogta {
  display: none;
  transition: all;
}
