* {
  margin: 0;
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.titre {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  color: red;
  font-size: 70px;
  height: 25rem;
  line-height: 25rem;
  /* transition: all 10s linear;  */
  /* transition-duration: 2s; */
  animation: zoomIn 2s ease-in-out;
}

.titre :hover {
  zoom: 10000;
  transform: scale(2) rotate(180deg);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  background-image: url("images/d1352e537d804829a915d3ae53a96fa0.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  padding: 0rem;
  color: #fff;
  margin-top: 10px;
}

nav :hover {
  color: red;
}

nav > a.logo {
  display: none;
  color: white;
  text-decoration: none;
}

nav > ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav > ul > li > a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}

nav > ul > li > a > i {
  font-size: 3em;
}

nav > ul > li > a > span {
  display: none;
}

.bouton {
  border-radius: 12px;
  height: 4rem;
  align-items: center;
  line-height: 1rem;
  color: #fff;
  background-color: black;
  padding: 1rem;
}

a {
  text-decoration: none;
  margin: auto 1rem;
  align-items: center;

  background-color: var(--secondary-color);
  font-size: calc(var(--base-font-size) * 2);
  border-radius: 10px;
}

footer {
  background-color: black;
  height: 2rem;
  width: 100%;
  color: #fff;
  padding-top: 20px;
  line-height: 2rem;
}

.audiogta {
  display: none;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  border-radius: 10px;
  text-align: center;
}

.popupcontain {
  position: relative;
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 2em;
  border: 100px;
}

footer {
  transition: transform 0.5s ease;
  transform: translateX(0);
}
